/* width */
.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: rgb(224, 136, 136);
  border-radius: 20px;
  border: 1px solid rgb(177, 177, 127);
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 136, 136);
  border: 1px solid rgb(177, 177, 127);
}
